# <font color='blue'>Telecom Churn Case Study</font>
* Institution: IIIT, Bangalore and UpGrad
* Course: PG Diploma in Machine Lerning and AI March 2018
* Date: 14-Aug-2018
* Submitted by:
    1. Pandinath Siddineni (ID- APFE187000194)
    2. AKNR Chandra Sekhar (ID- APFE187000315)
    3. Brajesh Kumar       (ID- APFE187000149)
    4. Shweta Tiwari
-----------------------------------

# <font color='blue'>PART 3: FEATURE REDUCTION USING LASSO</font>

In [1]:
import os.path
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
pd.options.display.float_format = '{:.2f}'.format

In [3]:
# Load clean telecom data file
master_df = pd.read_csv('telecom_churn_data_clean2.csv', low_memory=False)

In [4]:
master_df.head()

,mobile_number,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,...,night_0.0.1,night_1.0.1,night_0.0.2,night_1.0.2,fb_0.0,fb_1.0,fb_0.0.1,fb_1.0.1,fb_0.0.2,fb_1.0.2
0,7000701601,57.84,54.68,52.29,453.43,567.16,325.91,16.23,33.49,31.64,...,0,0,0,0,0,0,0,0,0,0
1,7002311591,288.56,376.66,111.61,186.59,1326.06,771.14,52.96,0.00,7.28,...,0,0,0,0,0,0,0,0,0,0
2,7000959346,120.19,236.14,1.71,2082.18,2532.03,408.54,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
3,7000104470,1241.99,1026.66,0.00,112.91,115.13,0.00,0.00,0.00,0.38,...,0,0,0,0,0,0,0,0,0,0
4,7000409785,424.98,328.73,363.98,457.09,361.34,391.68,315.29,303.04,254.34,...,0,0,0,0,0,0,0,0,0,0

In [5]:
#list(master_df)

In [6]:
master_df.shape

(28504, 156)

In [7]:
telecom = master_df.drop(['mobile_number'], 1)
telecom = telecom.drop(['fb_user_6', 'fb_user_7', 'fb_user_8', 'night_pck_user_6', 'night_pck_user_7', 'night_pck_user_8'], 1)
telecom = telecom.drop(['fb_churn_6', 'fb_churn_7', 'fb_churn_8', 'night_pck_churn_6', 'night_pck_churn_7', 'night_pck_churn_8'], 1)

In [8]:
telecom.head()

,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_og_mou_6,...,night_0.0.1,night_1.0.1,night_0.0.2,night_1.0.2,fb_0.0,fb_1.0,fb_0.0.1,fb_1.0.1,fb_0.0.2,fb_1.0.2
0,57.84,54.68,52.29,453.43,567.16,325.91,16.23,33.49,31.64,23.74,...,0,0,0,0,0,0,0,0,0,0
1,288.56,376.66,111.61,186.59,1326.06,771.14,52.96,0.00,7.28,10.69,...,0,0,0,0,0,0,0,0,0,0
2,120.19,236.14,1.71,2082.18,2532.03,408.54,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
3,1241.99,1026.66,0.00,112.91,115.13,0.00,0.00,0.00,0.38,0.00,...,0,0,0,0,0,0,0,0,0,0
4,424.98,328.73,363.98,457.09,361.34,391.68,315.29,303.04,254.34,613.84,...,0,0,0,0,0,0,0,0,0,0

In [9]:
print(type(list(telecom)))

<class 'list'>

In [10]:
df=telecom

In [11]:
df=df.drop(['churn'],axis=1)
df.head()

,onnet_mou_6,onnet_mou_7,onnet_mou_8,offnet_mou_6,offnet_mou_7,offnet_mou_8,roam_ic_mou_6,roam_ic_mou_7,roam_ic_mou_8,roam_og_mou_6,...,night_0.0.1,night_1.0.1,night_0.0.2,night_1.0.2,fb_0.0,fb_1.0,fb_0.0.1,fb_1.0.1,fb_0.0.2,fb_1.0.2
0,57.84,54.68,52.29,453.43,567.16,325.91,16.23,33.49,31.64,23.74,...,0,0,0,0,0,0,0,0,0,0
1,288.56,376.66,111.61,186.59,1326.06,771.14,52.96,0.00,7.28,10.69,...,0,0,0,0,0,0,0,0,0,0
2,120.19,236.14,1.71,2082.18,2532.03,408.54,0.00,0.00,0.00,0.00,...,0,0,0,0,0,0,0,0,0,0
3,1241.99,1026.66,0.00,112.91,115.13,0.00,0.00,0.00,0.38,0.00,...,0,0,0,0,0,0,0,0,0,0
4,424.98,328.73,363.98,457.09,361.34,391.68,315.29,303.04,254.34,613.84,...,0,0,0,0,0,0,0,0,0,0

In [12]:
feature_name=list(df.columns)

## Create X, y variables

In [13]:
X = telecom.drop(['churn'],axis=1)
y = telecom['churn']

In [17]:
feature=telecom.drop(['churn'],axis=1)

In [18]:
print(type(X))

<class 'pandas.core.frame.DataFrame'>

In [19]:
X.shape

(28504, 142)

In [20]:
list(X)

['onnet_mou_6',
 'onnet_mou_7',
 'onnet_mou_8',
 'offnet_mou_6',
 'offnet_mou_7',
 'offnet_mou_8',
 'roam_ic_mou_6',
 'roam_ic_mou_7',
 'roam_ic_mou_8',
 'roam_og_mou_6',
 'roam_og_mou_7',
 'roam_og_mou_8',
 'loc_og_t2t_mou_6',
 'loc_og_t2t_mou_7',
 'loc_og_t2t_mou_8',
 'loc_og_t2m_mou_6',
 'loc_og_t2m_mou_7',
 'loc_og_t2m_mou_8',
 'loc_og_t2f_mou_6',
 'loc_og_t2f_mou_7',
 'loc_og_t2f_mou_8',
 'loc_og_t2c_mou_6',
 'loc_og_t2c_mou_7',
 'loc_og_t2c_mou_8',
 'loc_og_mou_6',
 'loc_og_mou_7',
 'loc_og_mou_8',
 'std_og_t2t_mou_6',
 'std_og_t2t_mou_7',
 'std_og_t2t_mou_8',
 'std_og_t2m_mou_6',
 'std_og_t2m_mou_7',
 'std_og_t2m_mou_8',
 'std_og_t2f_mou_6',
 'std_og_t2f_mou_7',
 'std_og_t2f_mou_8',
 'std_og_mou_6',
 'std_og_mou_7',
 'std_og_mou_8',
 'isd_og_mou_6',
 'isd_og_mou_7',
 'isd_og_mou_8',
 'spl_og_mou_6',
 'spl_og_mou_7',
 'spl_og_mou_8',
 'og_others_6',
 'og_others_7',
 'og_others_8',
 'total_og_mou_6',
 'total_og_mou_7',
 'total_og_mou_8',
 'loc_ic_t2t_mou_6',
 'loc_ic_t2t_mou_7',
 'loc_ic_t2t_mou_8',
 'loc_ic_t2m_mou_6',
 'loc_ic_t2m_mou_7',
 'loc_ic_t2m_mou_8',
 'loc_ic_t2f_mou_6',
 'loc_ic_t2f_mou_7',
 'loc_ic_t2f_mou_8',
 'loc_ic_mou_6',
 'loc_ic_mou_7',
 'loc_ic_mou_8',
 'std_ic_t2t_mou_6',
 'std_ic_t2t_mou_7',
 'std_ic_t2t_mou_8',
 'std_ic_t2m_mou_6',
 'std_ic_t2m_mou_7',
 'std_ic_t2m_mou_8',
 'std_ic_t2f_mou_6',
 'std_ic_t2f_mou_7',
 'std_ic_t2f_mou_8',
 'std_ic_mou_6',
 'std_ic_mou_7',
 'std_ic_mou_8',
 'total_ic_mou_6',
 'total_ic_mou_7',
 'total_ic_mou_8',
 'spl_ic_mou_6',
 'spl_ic_mou_7',
 'spl_ic_mou_8',
 'isd_ic_mou_6',
 'isd_ic_mou_7',
 'isd_ic_mou_8',
 'ic_others_6',
 'ic_others_7',
 'ic_others_8',
 'total_rech_amt_6',
 'total_rech_amt_7',
 'total_rech_amt_8',
 'max_rech_amt_6',
 'max_rech_amt_7',
 'max_rech_amt_8',
 'last_day_rch_amt_6',
 'last_day_rch_amt_7',
 'last_day_rch_amt_8',
 'total_rech_data_6',
 'total_rech_data_7',
 'total_rech_data_8',
 'max_rech_data_6',
 'max_rech_data_7',
 'max_rech_data_8',
 'vol_2g_mb_6',
 'vol_2g_mb_7',
 'vol_2g_mb_8',
 'vol_3g_mb_6',
 'vol_3g_mb_7',
 'vol_3g_mb_8',
 'monthly_2g_6',
 'monthly_2g_7',
 'monthly_2g_8',
 'sachet_2g_6',
 'sachet_2g_7',
 'sachet_2g_8',
 'monthly_3g_6',
 'monthly_3g_7',
 'monthly_3g_8',
 'sachet_3g_6',
 'sachet_3g_7',
 'sachet_3g_8',
 'aon',
 'total_rech_data_amt_6',
 'total_rech_data_amt_7',
 'total_rech_data_amt_8',
 'rech_days_left_6',
 'rech_days_left_data_6',
 'rech_days_left_7',
 'rech_days_left_data_7',
 'rech_days_left_8',
 'rech_days_left_data_8',
 'night_0.0',
 'night_1.0',
 'night_0.0.1',
 'night_1.0.1',
 'night_0.0.2',
 'night_1.0.2',
 'fb_0.0',
 'fb_1.0',
 'fb_0.0.1',
 'fb_1.0.1',
 'fb_0.0.2',
 'fb_1.0.2']

## Applying standard scale

In [21]:
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler


scaler = preprocessing.StandardScaler().fit(X)

X = scaler.transform(X)

## Lasso

In [22]:
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
 
lsvc = LinearSVC(C=0.02, penalty="l1", dual=False).fit(X,y)
model = SelectFromModel(lsvc, prefit=True)
X_lasso = model.transform(X)
pos = model.get_support(indices=True)
 
print(X_lasso.shape)
print(pos)

(28504, 87)
[  0   5   6   7   9  10  11  12  15  19  20  21  22  23  31  34  35  36
  37  38  40  42  43  44  45  46  47  49  50  54  55  56  57  61  62  63
  64  65  67  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  94  95  96  98 101 102 103 104 106 107 108 109 110 111 112
 117 118 120 121 123 124 126 127 128 129 131 134 135 138 141]

C:\Users\bkumar5\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\utils\__init__.py:93: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int32 == np.dtype(int).type`.
  if np.issubdtype(mask.dtype, np.int):

In [23]:
feature.columns[pos]

Index(['onnet_mou_6', 'offnet_mou_8', 'roam_ic_mou_6', 'roam_ic_mou_7',
       'roam_og_mou_6', 'roam_og_mou_7', 'roam_og_mou_8', 'loc_og_t2t_mou_6',
       'loc_og_t2m_mou_6', 'loc_og_t2f_mou_7', 'loc_og_t2f_mou_8',
       'loc_og_t2c_mou_6', 'loc_og_t2c_mou_7', 'loc_og_t2c_mou_8',
       'std_og_t2m_mou_7', 'std_og_t2f_mou_7', 'std_og_t2f_mou_8',
       'std_og_mou_6', 'std_og_mou_7', 'std_og_mou_8', 'isd_og_mou_7',
       'spl_og_mou_6', 'spl_og_mou_7', 'spl_og_mou_8', 'og_others_6',
       'og_others_7', 'og_others_8', 'total_og_mou_7', 'total_og_mou_8',
       'loc_ic_t2m_mou_6', 'loc_ic_t2m_mou_7', 'loc_ic_t2m_mou_8',
       'loc_ic_t2f_mou_6', 'loc_ic_mou_7', 'loc_ic_mou_8', 'std_ic_t2t_mou_6',
       'std_ic_t2t_mou_7', 'std_ic_t2t_mou_8', 'std_ic_t2m_mou_7',
       'total_ic_mou_6', 'total_ic_mou_7', 'total_ic_mou_8', 'spl_ic_mou_6',
       'spl_ic_mou_7', 'spl_ic_mou_8', 'isd_ic_mou_6', 'isd_ic_mou_7',
       'isd_ic_mou_8', 'ic_others_6', 'ic_others_7', 'ic_others_8',
       'total_rech_amt_6', 'total_rech_amt_7', 'total_rech_amt_8',
       'max_rech_amt_6', 'max_rech_amt_7', 'max_rech_amt_8',
       'last_day_rch_amt_7', 'last_day_rch_amt_8', 'total_rech_data_6',
       'total_rech_data_8', 'max_rech_data_8', 'vol_2g_mb_6', 'vol_2g_mb_7',
       'vol_2g_mb_8', 'vol_3g_mb_7', 'vol_3g_mb_8', 'monthly_2g_6',
       'monthly_2g_7', 'monthly_2g_8', 'sachet_2g_6', 'sachet_2g_7',
       'sachet_3g_6', 'sachet_3g_7', 'aon', 'total_rech_data_amt_6',
       'total_rech_data_amt_8', 'rech_days_left_6', 'rech_days_left_7',
       'rech_days_left_data_7', 'rech_days_left_8', 'rech_days_left_data_8',
       'night_1.0', 'night_0.0.2', 'night_1.0.2', 'fb_0.0.1', 'fb_1.0.2'],
      dtype='object')